.actionButton {
    position: fixed;
    bottom: 24px
}

.actionButton-actionAdd {
    left: calc(50% - 78px);
}

.actionButton-actionBarcode {
    left: calc(50% + 38px);
}

.actionButton-actionFind {
    left: calc(50% - 28px);
}

.dialog-textField {
    width: 100%;
    max-width: 100%;
}